<html>
   <head>
       <style>
           .chebox{
             width:120px;
           }
       </style>
   </head>
 <body>
   <div>
       <h3 class="page-title" style="color:#6583ad;margin-top:3px;">权限设置</h3>
       <div class="btn-toolbar list-toolbar" style="height:25px;">
          <div style="float:left;margin-top:10px;">
               角色名称
              <input type="text" class="form-controlnew span12" id="wname" style="width:220px;" />
               <button type="button" id="search" class="btn btn-primary"><i class="bi bi-search"></i> 查询</button>
                <button type="button" id="sclear" class="btn btn-primary"><i class="bi bi-x-circle-fill"></i> 清空</button>
          </div> 
    
   </div>
     <div id="jsGrid" style="margin-top:2px;height:90%;"></div>
   </div>

 <div class="modal " tabindex="-1"  id="ShowModal" style="height:450px;overflow-y:hidden;">
   <div class="modal-dialog" style="height:420px;overflow-y:hidden;">
       <input type="hidden" id="RoleId" />
      <div class="modal-content" style="height:400px;">
      <div class="modal-header">
        <h7 class="modal-title" id="mTitle" style="color:#4d5b76;font-size:1em;font-family:Cambria;font-weight:500;">分配菜单权限</h7>
      </div>
      <div id="Content" style="height:280px; overflow-y:scroll;">
      </div>
      <div  class="modal-footer">
         <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>
         <button type="button" class="btn btn-default" id="btnSave" data-dismiss="modal">保存</button>
      </div>
    </div>
  </div>
</div>
<script>

     $(function(){

        //数据加载
        GridBind("");

        //查询
         $("#search").click(function(){
             var w=$("#wname").val();
            GridBind(w);
         });

        //清除
        $("#sclear").click(function(){
           var w=$("#wname").val("");
            GridBind("");
        });

        //权限保存
        $("#btnSave").click(function(){
        var rid= $("#RoleId").val();
        var ids= [];
        $("input[type='checkbox']:checkbox:checked").each(function(i,d){
            ids.push(d.value); 
            });
        $.post("/Authority/AddAuthority",{"list":ids,"rid":rid},
              function(data){
               var result=eval('('+data+')');
               if(result.Status==200)
               {
                   alert(result.Message);
               }else
               {
                   alert(result.Message);
               }
         });
        });
         
    });


     //列表数据绑定
     function GridBind(where)
     {
         $("#jsGrid").jsGrid({
                width: "100%",
                height: "500px",
                sorting: false,
                paging: true,
                autoload: true,
                pageLoading:true,
                pageIndex:1,
                pageSize:10,
                pagerFormat: "当前页: {pageIndex} &nbsp;&nbsp; {first} {prev} {pages} {next} {last} &nbsp;&nbsp; 页数: {pageCount} 总数: {itemCount}",
                pagePrevText: "<",
                pageNextText: ">",
                pageFirstText: "<<",
                pageLastText: ">>",
                rowClick: function(args) { args.cancel=true },
                controller: {
                loadData: function(e) {
                       var d = $.Deferred();
                        $.ajax({
                            url: "/Authority/GetRoleList",
                            data:{"pageIndex":e.pageIndex,"pageSize":e.pageSize,"Where":where},
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve({data:response.Source.Items,itemsCount:response.Source.TotalCount});
                        });
                        return d.promise();
                    },
                },
                fields: [
                    { name: "Id", type: "number", width: 40,title:"序号",align: "center", readOnly: true },
                    { name: "RoleCode", type: "text", width: 120,title:"角色编号",align: "center",readOnly: true },
                    { name: "RoleName", type: "text", width: 120 ,title:"角色名称",align: "center"},
                    {
                      itemTemplate: function(value, item) {
                              return $("<input>").addClass("btn btn-primary").attr({
                                    type: "button",
                                    title: "分配权限",
                                    value:"分配权限"
                                }).on("click", function(e) {
                                 ShowModal(item.Id);
                                });
                        },
                        align: "center",
                        width: 50,
                        sorting: false
                    }
                ]
               });
     }

     //显示权限分配窗口
     function ShowModal(id)
     {
         $("#RoleId").val(id);
         $.post("/Authority/GetMenusList",{},function(data){
               var result=eval('('+data+')');
               if(result.Status==200)
               {
                    $("#Content").html("");
                   $("#Content").append(result.Source);
               }else
               {
                   alert(result.Message);
               }
         });
         $("#ShowModal").modal('show');
     }

</script>

</body>
</html>