@model WebWMS.Models.UserViewModel
 <meta charset="utf-8" />
<html>
 <body>
<style>
    .form-groupnew {
         margin-bottom: 5px;
    }
    .form-controlnew{
        width:50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>
   <div>
       <h3 class="page-title" style="color:#6583ad;margin-top:3px;">用户信息管理</h3>
       <div class="btn-toolbar list-toolbar" style="height:25px;">
          <div style="float:left;margin-top:10px;">
               账号
              <input type="text" class="form-controlnew span12" id="waccount" style="width:220px;" />
              <button type="button" id="search" class="btn btn-primary"><i class="bi bi-search"></i> 查询</button>
                <button type="button" id="sclear" class="btn btn-primary"><i class="bi bi-x-circle-fill"></i> 清空</button>
          </div>
        <button class="btn btn-primary" id="ImportExcel" style="float:right;"><i class="bi bi-file-arrow-up-fill"></i>导入</button>
        <button class="btn btn-primary" id="ExportExcel" style="float:right;"><i class="bi bi-file-arrow-down-fill"></i>导出</button>
        <button id="Add" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i>新增</button>
        
   </div>
       @if(ViewBag.ImportExceStatus==200)
            {
                <script type="text/javascript">
                    alert("@ViewBag.ImportExceMessage");
                </script>
            }else if(ViewBag.ImportExceStatus==-1){
                 <script type="text/javascript">
                     alert("@ViewBag.ImportExceMessage");
                 </script>
            }      
     <div id="jsGrid" style="margin-top:2px;"></div>
   </div>
   @*新增用户弹窗*@
  <div class="modal " tabindex="-1"  id="UserModal" style="height:490px;margin-top:15px;overflow-y:hidden;" >
      <input type="hidden" id="operatetype" />
       <input type="hidden" id="editId" />
  <div class="modal-dialog" style="height:470px;">
    <div class="modal-content">
      <div class="modal-header">
        <h7 class="modal-title" id="mTitle" style="color:#4d5b76;font-size:1em;font-family:Cambria;font-weight:500;">新增用户</h7>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding:5px;">
       <div class="panel panel-default">
        <div class="panel-body">
            <form>

                <div class="form-groupnew">
                    账&emsp;&emsp;号
                    <input type="text" class="form-controlnew span12"  id="account" placeholder="账 号" autocomplete="off"><span style="color:red;" id="saccount">*</span>
                </div>
                <div class="form-groupnew" id="mpassword">
                    密&emsp;&emsp;码
                    <input type="password" class="form-controlnew span12" id="password"  placeholder="密 码" autocomplete="off" ><span style="color:red;" id="spassword">*</span>
                </div>
                 <div class="form-groupnew" id="mpassword1">
                    密码确认
                    <input type="password" class="form-controlnew span12" id="password1"   placeholder="密 码" autocomplete="off" ><span style="color:red;" id="spassword1">*</span>
                </div>
                <div class="form-groupnew">
                   名&emsp;&emsp;称
                    <input type="text" class="form-controlnew span12" id="name" placeholder="名 称"   autocomplete="off"><span style="color:red;" id="sname">*</span>
                </div>
                   <div class="form-groupnew">
                   角&emsp;&emsp;色
                     <select class="selectpicker" multiple id="selectRole" data-width="280px">
                     </select><span style="color:red;" id="sselectRole">*</span>
                </div>
                <div class="form-groupnew">
                   邮&emsp;&emsp;箱
                    <input type="text" class="form-controlnew span12" id="email"  placeholder="邮 箱"  autocomplete="off"><span style="color:red;" id="semail">*</span>
                </div>
                <div class="form-groupnew">
                    手&emsp;&emsp;机
                    <input type="text" class="form-controlnew span12" id="phone"  placeholder="手 机"   autocomplete="off"><span style="color:red;" id="sphone">*</span>
                </div>
                <div class="form-groupnew">
                       状&emsp;&emsp;态
                    <label class="remember-me"><input type="checkbox" checked="checked" id="IsEnabled"> 是否启用</label>
                    <label class="remember-me"><input type="checkbox" id="Delete"> 是否删除</label>
                </div>
                <div class="form-groupnew">
                    地&emsp;&emsp;址
                    <input type="text" class="form-controlnew span12" id="address" placeholder="地 址"  autocomplete="off">
                </div>
                 <div style="text-align:right;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button"  class="btn btn-primary" id="Save">保存</button>
                  </div>
            </form>
        </div>
    </div> 
      </div>
    </div>
  </div>
</div>

@*Exce导入弹框*@
<div class="modal fade" id="ExcelModal" tabindex="-1" role="dialog" aria-labelledby="myModalExcel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalExcel">文件上传</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" asp-controller="User" asp-action="ImportExcel">
                    <div class="container">
                      
                        <div class="row">
                          <div class="col-sm-1" style="width:260px;">
                            <input id="f_upload" type="file"  name="file" style="height:40px;"/>
                          </div>
                          <div class="col-sm-2">
                           <input type="submit" value="提交更改" class="btn btn-primary" style="height:30px;" />
                        </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
               @* <input type="submit" class="btn btn-primary" value="提交更改"/>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
     $(function(){
        //数据加载
        GridBind("");

        //查询
         $("#search").click(function(){
             var w=$("#waccount").val();
            GridBind(w);
         });

        //清除
        $("#sclear").click(function(){
           var w=$("#waccount").val("");
            GridBind("");
        });
        //新增
       $("#Add").click(function(){
           
           //获取角色信息
           $.post("/User/GetRoleList",{},function(data){
               var result=eval('('+data+')');
               if(result.Status==200)
               {
                   for(var i=0;i<result.Source.length;i++)
                   {
                        $("#selectRole").append("<option value='"+result.Source[i].Id+"'>"+result.Source[i].RoleName+"</option>");
                   }
                   $("#selectRole").selectpicker("refresh");
               }
           });
          $("#mTitle").text("编辑用户");
          $("#mpassword").show();
          $("#mpassword1").show();
          $("#UserModal").modal('show');
          $("#operatetype").val("add");
       });

       //保存
       $("#Save").click(function(){
           var account=$("#account").val();
           var password=$("#password").val();
            var password1=$("#password1").val();
           var name=$("#name").val();
           var phone=$("#phone").val();
           var email=$("#email").val();
           var address=$("#address").val();
           var operatetype=$("#operatetype").val();
           var isEnabled=$("#IsEnabled").prop("checked");
           var del=$("#Delete").prop("checked");
           var selectRole=$('#selectRole').val();
           if(account==""||account==null)
           {
               $("#saccount").append("账号不能为空!");
               return;
           }else
           {
               $("#saccount").text("*")
           }

           if(operatetype=="add")
           {
              if(password==""||password==null)
               {
                    $("#spassword").append("密码不能为空!");
                    return;
               }
               else{
                   $("#spassword").text("*")
               }
               if(password1==""||password1==null)
               {
                    $("#spassword1").append("密码确认不能为空!");
                    return;
               }
               else{

                   $("#spassword1").text("*")
                   if(password!=password1)
                   {
                         $("#spassword1").append("两次密码不相等!");
                         return;
                   }
               }
           }
           //名称
           if(name==""||name==null)
           {
                $("#sname").append("用户名不能为空!");
                return;
           }else
           {
                 $("#sname").text("*");
           }
           //角色
           if(selectRole==""||selectRole==null)
           {
                 $("#sselectRole").append("角色不能为空!");
                return;
           } else{

               $("#sselectRole").text("*");
           }
           //邮箱
           if(email==""||email==null)
           {
                $("#semail").append("邮箱不能为空!");
                return;
           }else{
                 var reg = /^([a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
                 $("#semail").text("*")
                   if (!reg.test(email)) {
                         $("#semail").append("邮箱格式不正确，请重新填写!");
                        return false;
                     } 
           }
           //手机
           if(phone==""||phone==null)
           {
               $("#sphone").append("手机不能为空!");
               return;
           }else{
               $("#sphone").text("*")
               var t=validatorTel(phone);
               if(t==false) 
               {
                 $("#sphone").append("手机格式不正确!");
                 return;
               } 
           }
           if(operatetype=="add")
           {
               $.post("/User/Add",
                   {"Account":account,"PassWord":password,"Name":name,"Email":email,"MoblePhone":phone,"Address":address,"IsEnabled":isEnabled,"Delete":del,"RoleList":selectRole},
                   function(data){
                      var result=eval('('+data+')');
                    if(result.Status==200)
                    {
                        alert(result.Message);
                        $("#account").val("");
                        $("#password").val("");
                        $("#password1").val("");
                        $("#name").val("");
                        $("#phone").val("");
                        $("#email").val("");
                        $("#address").val("");
                        $("#IsEnabled").prop("checked","");
                        $("#Delete").prop("checked","");
                        $("#UserModal").modal('hide');
                        location.reload(true);
                    }
                    else
                    {
                        alert(result.Message);
                    }});
           }else if(operatetype=="edit")
           {
               var id=$("#editId").val();
              $.post("/User/Update",
                       {"Id":id,"Account":account,"Name":name,"Email":email,"MoblePhone":phone,"Address":address,"IsEnabled":isEnabled,"IsRemove":del,"RoleList":selectRole},
                       function(data){
                          var result=eval('('+data+')');
                        if(result.Status==200)
                        {
                            alert(result.Message);
                             location.reload(true);
                        }
                        else
                        {
                            alert(result.Message);
                        }});
           }
           
       });

       //导入
       $("#ImportExcel").click(function(){
           $("#ExcelModal").modal("show");
       });
       
       //导出
       $("#ExportExcel").click(function(){
         $.post("/User/ExportExcel",{},function(data){
              var result=eval('('+data+')');
              alert(result.Message);
         });
       });
    });

     //手机号验证
     function validatorTel(content){
        // 正则验证格式
        eval("var reg = /^1[34578]\\d{9}$/;");
        return RegExp(reg).test(content);
    };

     //编辑
     function Edit(id,account,pwd,name,emai,phone,address,isEnabled,d)
        {

              $("#mTitle").text("编辑用户");
               $("#mpassword").hide();
                $("#mpassword1").hide();
               $("#operatetype").val("edit");
               $("#account").val(account);
                $("#password").val(pwd);
                $("#password1").val(pwd);
                $("#name").val(name);
                $("#phone").val(phone);
               $("#email").val(emai);
               $("#address").val(address);
               $("#editId").val(id);
               if(isEnabled=='True')
               {
                   $("#IsEnabled").attr("checked","checked");
               }  
               if(d=='True')
               {
                   $("#Delete").attr("checked","checked");
               }
               
              
              $("#UserModal").modal('show');
         };
     
     //列表数据绑定
     function GridBind(where)
     {
         var dlist=[];
         $("#jsGrid").jsGrid({
                width: "100%",
                height: "400px",
                sorting: true,
                editing: true,
                filtering: false,
                paging: true,
                 pageLoading:true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 3,
                pagerFormat: "当前页: {pageIndex} &nbsp;&nbsp; {first} {prev} {pages} {next} {last} &nbsp;&nbsp; 页数: {pageCount} 总数: {itemCount}",
                pagePrevText: "<",
                pageNextText: ">",
                pageFirstText: "<<",
                pageLastText: ">>",
                deleteConfirm: "确定删除该数据?",
                onItemDeleting: function(args) {
                                        if(args.item.protected) {
                                            args.cancel = true;
                                        }
                                    },
                 onItemEditing: function(args) {
                                        // cancel editing of the row of item with field 'ID' = 0
                                        if(args.item.ID === 0) {
                                            args.cancel = true;
                                        }else
                                        {
                                            showDetailsDialog(args.item);
                                            args.cancel = true;
                                        }
                                    },
                rowClick: function(args) { showDetailsDialog(args.item) },
                //rowDoubleClick:function(args){$("#jsGrid").jsGrid("editItem", args.item);},
                controller: {
                  loadData: function(e) {
                       var d = $.Deferred();
                        $.ajax({
                            url: "/User/GetCustomerList",
                            data:{"pageIndex":e.pageIndex,"pageSize":e.pageSize,"Where":where},
                            dataType: "json"
                        }).done(function(response) {
                            d.resolve({data:response.Source.Items,itemsCount:response.Source.TotalCount});
                        });
                        return d.promise();
                    },
                  deleteItem: function(item) {
                      return  $.post("/User/Delete",
                           {"id":item.Id},
                           function(data){
                              var result=eval('('+data+')');
                            if(result.Status==200)
                            { 
                                 alert(result.Message);
                                 $("#jsGrid").jsGrid("refresh");
                            }
                            else
                            {
                                alert(result.Message);
                            }});
                    }
                },
                fields: [
                    // {
                    //    headerTemplate: function() {
                    //        return $("<input>").attr("type", "checkbox").text("全选")
                    //                .on("click", function () {
                    //                    $("<input>").attr("type","checkbox").prop("checked","checked")
                    //                });
                    //    },
                    //    itemTemplate: function() {
                    //        return $("<input>").attr("type", "checkbox")
                    //    },
                    //    align: "center",
                    //    width: 50,
                    //    sorting: false
                    //},
                    { name: "Id", type: "number", width: 60,title:"序号",align: "center", readOnly: true },
                    { name: "Account", type: "text", width: 100,title:"账号",align: "center" , readOnly: true},
                    { name: "Name", type: "text", width: 80 ,title:"名称",align: "center"},
                    { name: "RoleNames", type: "text", width: 80 ,title:"角色",align: "center"},
                    { name: "MoblePhone", type: "text", width:120,title:"手机",align: "center"},
                    { name: "Email", type: "text", width: 150,title:"邮箱",align: "center"},
                    { name: "IsRemove", type: "checkbox" , width:60,title:"是否删除",align: "center"},
                    { name: "IsEnabled", type: "checkbox" , width:60,title:"是否启用",align: "center"},
                    { type: "control", editButton: true}
                ]
               });
     }

      //编辑用户
    function showDetailsDialog(item)
       {
            $("#selectRole").html("");
            //获取角色信息
           $.post("/User/GetRoleList",{},function(data){
               var result=eval('('+data+')');
               if(result.Status==200)
               {
                   for(var i=0;i<result.Source.length;i++)
                   {
                        $("#selectRole").append("<option value='"+result.Source[i].Id+"'>"+result.Source[i].RoleName+"</option>");
                   }
                   $("#selectRole").selectpicker("val",item.RoleIds);
                   $("#selectRole").selectpicker("refresh");
                   $('#selectRole').selectpicker('render');
               }
           });
            $("#editId").val(item.Id);
            $("#operatetype").val("edit");
            $("#account").val(item.Account);
            $("#name").val(item.Name);
            $("#mpassword").hide();
            $("#mpassword1").hide();
            $("#phone").val(item.MoblePhone);
            $("#email").val(item.Email);
            $("#address").val(item.Address);
            $("#IsEnabled").prop("checked",item.IsEnabled);
            $("#Delete").prop("checked",item.IsRemove);
            $("#account").prop('disabled', true);
            $("#mTitle").text("编辑用户");
            $("#UserModal").modal('show');
       }
</script>

</body>
</html>
